input {
    
    padding: 10px 10px;
    margin: 8px 90px;
    box-sizing: border-box;
    border : 2px solid black;
    border-radius : 4px;
}

input [type=button], input[type=submit], input[type=reset]{
	background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.button:active {
  background-color: black;
  box-shadow: 0 5px grey;
  transform: translateY(4px);
}
input:focus {
    background-color: #d3d3d3;
    
}